* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Edge */
    user-select: none;
    /* preventing iOS tap highlight */
    -webkit-tap-highlight-color: transparent;
    /* Disable browser handling of all panning and zooming gestures, except for regular scrolling */
    touch-action: pan-y;
}

body {
    background-color: #000000;
}

/* Video Element */
video {
    inline-size: 100vw;
    block-size: 80vh;
    object-fit: cover;
    object-position: center;
}