* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Edge */
    user-select: none;
    /* preventing iOS tap highlight */
    -webkit-tap-highlight-color: transparent;
    /* Disable browser handling of all panning and zooming gestures, except for regular scrolling */
    touch-action: pan-y;
}

body {
    background-color: black;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

#camera {
    position: relative;
}

/* Video Element */
video {
    inline-size: 100vw;
    block-size: calc(100vh - 220px);
    object-fit: cover;
    object-position: center;
}

video.flip {
    scale: -1 1;
}

/* Video Controls */
.controls {
    display: flex;
    block-size: 100px;
    inline-size: 90vw;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
}

/* Video filters */

.lenses {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filters {
    position: relative;
    inline-size: 50px;
    block-size: 50px;
    display: flex;
    align-items: center;
    padding-block-start: 0;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    border: 1.5px solid transparent;
    background-color: rgba(0, 0, 0, 0.742);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 48px;
    overflow: hidden;
    cursor: pointer;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.filters #filter-toggle:not(:checked)~input:not(:checked)+label {
    display: none;
}

.filters #filter-toggle:not(:checked)~label {
    pointer-events: none;
}

.filters #filter-toggle:not(:checked)+label {
    display: none;
}

.filters:has(#filter-toggle:checked) {
    block-size: 200px;
    padding-block-start: 80px;
    border: 1.5px solid white;
    overflow: scroll;
}

.lenses .cancel {
    cursor: pointer;
}

.lenses:has(.filters #filter-toggle:checked) {
    translate: 0 -50px;
}

.lenses:has(.filters #filter-toggle:not(:checked)) .cancel {
    display: none;
}

.filters::-webkit-scrollbar {
    display: none;
}

.filters input {
    display: none;
}

.filters label {
    inline-size: 48px;
    min-block-size: 48px;
    border-radius: 50%;
    cursor: pointer;
    aspect-ratio: 1/1;
}

.filters:has(#filter-toggle:checked) input:checked+label.lens {
    border: 2px solid rgb(55, 55, 249);
}

.filters label[for="none"] {
    background-image: linear-gradient(45deg, #111 48%, white 48%, white 52%, #111 52%, #111);
    border: 1.5px solid white;
}

.filters label[for="monochrome"] {
    background-image: linear-gradient(black 50%, white);
}

.filters label[for="gradient1"] {
    background-image: linear-gradient(pink 50%, blue);
}

.filters label[for="gradient2"] {
    background-image: linear-gradient(purple 50%, blue);
}

.filters label[for="gradient3"] {
    background-image: linear-gradient(lightgreen, royalblue);
}


.filters label[for="gradient4"] {
    background-image: linear-gradient(yellow, white);
}

/* Switch between video and photo capture modes */
.switch-camera-video-photo-mode input[type="checkbox"] {
    display: none;
}

.switch-camera-video-photo-mode label {
    display: block;
    inline-size: max-content;
    margin-inline: auto;
    border-radius: 40px;
    padding: 0.6rem;
    background-color: #171717;
    cursor: pointer;
}

.switch-camera-video-photo-mode label span {
    color: white;
    padding-inline: 10px;
    text-align: center;
    mix-blend-mode: difference;
}

.switch-camera-video-photo-mode input[type="checkbox"]+label {
    background-image: linear-gradient(to right, white 50%, #171717 50%);
}

.switch-camera-video-photo-mode input[type="checkbox"]:checked+label {
    background-image: linear-gradient(to right, #171717 50%, white 50%);
}

/* Capture button */
#camera:has(.switch-camera-video-photo-mode input[type="checkbox"]:checked) .capture-button .capture-icon {
    fill: red;
}

/* Switch between rear and front camera modes */
.switch-camera-facing-mode {
    cursor: pointer;
    pointer-events: all;
}

.switch-camera-facing-mode:has(.rotating) {
    pointer-events: none;
}

.switch-camera-facing-mode .rotate {
    cursor: pointer;

}

.switch-camera-facing-mode .rotate:is(.rotating) {
    animation: rotate 1.5s both;
    transform-origin: 50% calc(50% + 1.1px);

}

@keyframes rotate {
    0% {
        rotate: 0deg;

    }

    100% {
        rotate: -180deg;
    }
}

/* Capture button to click and take photos */
.capture-button {
    cursor: pointer;
}

.capture-button:is(.click) .capture-icon {
    animation: click 0.2s ease-in-out both;
    transform-origin: center;
}

@keyframes click {
    0% {
        scale: 1;
    }

    50% {
        scale: 0.85;
    }

    100% {
        scale: 1;
    }
}

.record {
    display: block;
    position: fixed;
    inset-block-start: 10px;
    inset-inline-start: 50%;
    translate: -50% 0;
    background-color: red;
    min-inline-size: 9.5ch;
    text-align: start;
    padding: 10px;
    color: white;
    font-kerning: none;
    letter-spacing: 0.1rem;
    border-radius: 30px;
}